* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: linear-gradient(to right, #c2c2c2, #ecebeb); */
    position: relative;
    top: 120px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(https://c4.wallpaperflare.com/wallpaper/312/711/679/mountains-the-game-lake-forest-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(0px);
}

.box {
    /* background-color: #fff; */
    width: 450px;
    height: 500px;
    border-radius: 10px;
    padding: 25px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: #fff;
    border: 1px solid #fff;

}

.h1-log{
    font-size: 40px;
    text-align: center;
    margin-top: 10px;
}



input{
    height: 40px;
    width: 100%;
    border-radius: 4px;
    padding: 22px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 50px;
    margin-top: 40px;
    height: 60px;
    align-items: center;
}

input::placeholder{
    color: #fff;
    font-size: 20px;
padding-bottom: -30px;
    align-items: center;
}

.login-but{
    width: 100%;
    background-color: #fff;
    color: #000;
    margin-top:30px;
    height: 50px;
    border-radius: 50px;
    border: 0;
    font-size: 18px;
    font-weight: 500;
}



.fyp-but{
        width: 100%;
        background-color: transparent;
        color: #fff;
    margin-top: 15px;
    height: 40px;
    border: 0;
    font-weight: 500;
    font-size: 15px;
}

.form .fa-solid{
    position: absolute;
    padding-top: 62px;
    margin-left:360px;
}