.title{
    font-family: Emirates-Bold, Helvetica, Arial, Lucida Grande, sans-serif;
    font-size: 3rem;
    line-height: 3.45rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    line-height: normal;
    transform: rotate(0deg) scale(1) skew(-13deg) translate(0);
    color: #fff;
    text-shadow: .1rem .1rem .5rem rgba(0, 0, 0, .3);
    margin: 0;
    letter-spacing: .2rem;
    padding-left: 3.3rem;
    padding-left: 0;
    display: block;
    margin-left: 1rem;
    position: absolute;
    width: 80vw;
}