*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bac-img{
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    filter: brightness(0.3);
    display: flex;
    
}

.main-div{
    display: flex;
    width: 100%;
    /* background-color: aqua; */
    position: relative;
}

.logo{
    position: relative;
    width: 25%;
    padding: 30px;
}

.li-div{
    display: flex;
    margin-left: 600px;
    width: 800px;


}

.li{
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
    width: 100px;
    font-size: 17px;
    font-weight: 400;
    color: #fff;

}

.ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    

}

.text-div{
    width: 100%;
    height: 70vh;
    position: relative;
    text-align: center;

}

h1{
    padding-top: 200px;
    padding-bottom: 30px;
    color: #fff;
}

p{
    padding-bottom: 30px;
    color: #fff;
}

button{
    height: 50px;
    width: 120px;
    background-color: #fff;
    border-radius: 60px;
    border: none;
    text-transform: uppercase;
    font-size: 17px;
    color: #000;
}

@media screen and (max-width: 455px) {
    .bac-img{
        width: 100%;
        height: 100%;
        

    }
}